body{
    margin-top: 110px;
    margin-left: 40px
}

#contacto{
    color: blue;
}

.card-title{
    margin-bottom: 30px;
}

#tipos label{
    display:block
}

.ingreso_carro{
    float: right;
}

table {
    width: 800px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: 8px;
    text-align: center;
}